@page
@model CoreDotnetDockerDemo.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NET CORE Demo </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="~/images/MESSP.png" />
        </div>
        
    </div>
    <div class="row">
        <div class="content-body">
                <div class="success-text">Demo- Application  using  Azure DevOps Pipelines</div>
                <div class="description line-1">  Demo Azure DevOps Pipelines has been successfully setup</div>
                
            </div>
    </div>
</body>
